cigar/data/0010001.1.1.nyu.nii.gz
cigar/data/0010002.1.1.nyu.nii.gz
cigar/data/0010003.1.1.nyu.nii.gz
cigar/data/1.nii.gz
cigar/data/264seeds_mask.nii.gz
cigar/data/M1_clusters_3mm.nii
cigar/fileList.csv
*.Rhistory
.Rproj.user
